app-header {
    display: flex;
    height: 300px !important;
    background-color: var(--color-1);
    color: var(--color-3);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
}

app-results {
    height: auto;
}